body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
}

.statistics-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.statistic {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.statistic:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.statistic h2 {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 15px;
}

.statistic p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}

.statistic ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.statistic ul li {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.statistic ul li:empty::before {
    content: "Aucune donnée disponible";
    color: #888;
    font-style: italic;
}

.statistic p span {
    font-weight: bold;
    color: #007bff;
}

.return-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 6%;
    left: 5%;
}

@media (max-width: 768px) {
    .statistic {
        width: 100%;
    }
}